@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700&display=swap');
@import "tailwindcss";

* {
  font-family: 'Zen Maru Gothic', sans-serif;
}

body {
  margin: 0;
  background-color: #FFF9FB;
  color: #5C4A4A;
  min-height: 100vh;
}
